Django==6.0.5
asgiref==3.11.1
gunicorn==21.2.0
pillow==12.2.0
python-decouple==3.8
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
whitenoise==6.9.0
cloudinary==1.41.0
django-cloudinary-storage==0.3.0
psycopg2-binary==2.9.10
dj-database-url==2.3.0
